<script>
    import { goto } from "$app/navigation";
    import { browser } from "$app/environment";
    import { get } from "svelte/store";
    import { email, url, users } from "$lib/stores/auth";
    import { auth } from "$lib/services/auth";
    import { redirect } from "@sveltejs/kit";
    import moment from "moment";

    if (get(email) === "" && browser) {
        goto("/login");
    }

    export let data;

    let user = JSON.parse(JSON.stringify(data.userInfo));
    let dealershipListRes = data.dealershipListRes;
    let expiresAt = moment(user.expires_at);
    let expiresAtDate = expiresAt.format("YYYY-MM-DD");

    let emailInput = user.email, emailElement;
    let disabledInput = user.disabled;
    let emailVerifiedInput = user.email_verified;
    let roleInput = user.role;
    let dealerInput = user.dealership;
    let expiresAtInput = expiresAtDate;
    let passwordInput;
    let confirmPasswordInput;

    async function updateUser() {
        if (!emailInput) {
            emailElement.classList.add("red-shadow");
            return;
        }

        let expiresAt = "";
        if (expiresAtInput) {
            let expiresAtDate = moment.utc(expiresAtInput);
            expiresAt = expiresAtDate.toISOString();
        }

        let date = moment.utc();
        let currentDate = date.toISOString();

        let updatedUser = JSON.stringify({
            auth0ID: data.userID,
            email: emailInput,
            role: roleInput,
            dealership: dealerInput,
            expires_at: expiresAt,
            created_at: data.created_at,
            updated_at: currentDate,
            disabled: disabledInput,
            email_verified: emailVerifiedInput,
            agreed_to_disclaimer: data.agreed_to_disclaimer
        });

        // updates auth0
        await auth.updateUser(data.userID, emailInput, passwordInput, emailVerifiedInput);

        // updates dynamo
        await fetch(`${get(url)}/users/`, {
            method: "POST",
            headers: { 
                "Content-Type": "application/json"
            },
            body: updatedUser
        }).then(async (res) => {
            const response = await fetch(`${get(url)}/users`, {
                method: "GET",
            });
            let j = await response.json()
            users.set(JSON.stringify(j));

            goto(`/users/${data.userID}`);
        });
    }

    let goBack = () => { goto("/users") };
    let goShow = () => { goto(`/users/${data.userID}`) };
</script>

<div class="edit-user">
    <div class="edit-user-wrapper">
        <h1 class="editing-user-header">Editing User</h1>

        <div class="email-wrapper wrapper">
            <p class="input-label">Email</p>
            <input class="edit-input email-input shadow-input blue-shadow" type="email" 
                bind:value={emailInput} bind:this={emailElement} on:input={emailElement.classList.remove("red-shadow")}/>
        </div>
        <div class="disabled-wrapper wrapper">
            <p class="input-label">Disabled</p>
            <input class="edit-input disabled-input" type="checkbox" bind:checked={disabledInput}/>
        </div>
        <div class="email-verified-wrapper wrapper">
            <p class="input-label">Email verified</p>
            <input class="edit-input email-verified-input" type="checkbox" bind:checked={emailVerifiedInput}/>
        </div>
        <div class="user-roles-wrapper wrapper">
            <p class="input-label">Roles</p>
            <select class="edit-input user-roles-input shadow-input blue-shadow"
            bind:value={roleInput}>
                {#if roleInput === "user"}}
                    <option value="admin">admin</option>
                    <option value="user" selected>user</option>
                {:else if roleInput === "admin"}
                    <option value="admin" selected>admin</option>
                    <option value="user">user</option>
                {/if}
            </select>
        </div>
        {#if roleInput === "user"}
            <div class="wrapper">
                <p class="input-label">Group</p>
                <select class="create-input user-roles-input shadow-input blue-shadow" 
                    bind:value={dealerInput}>
                    {#each dealershipListRes as dealer}
                        <option value={dealer.id}>{dealer.groupName}</option>
                    {/each}
                </select>
            </div>
        {/if}
        <div class="expires-at-wrapper wrapper">
            <p class="input-label">Expires at</p>
            <input type="date" class="shadow-input blue-shadow" value={expiresAtInput}/>
        </div>
        <div class="new-password-wrapper wrapper">
            <p class="input-label">New password</p>
            <input type="password" class="edit-input new-password-input shadow-input blue-shadow" bind:value={passwordInput}/>
        </div>
        <div class="confirm-password-wrapper wrapper">
            <p class="input-label">Confirm password</p>
            <input type="password" class="edit-input confirm-password-input shadow-input blue-shadow" bind:value={confirmPasswordInput}/>
        </div>
        <div class="update-button-wrapper wrapper">
            <button class="btn-primary update-button button" on:click={updateUser}>Update User</button>
        </div>
        <div class="back-show-button-wrapper">
            <button class="btn-primary back-button button" on:click={goBack}>Back</button>
            <button class="btn-primary show-button button" on:click={goShow}>Show</button>
        </div>
    </div>
</div>
<div class="red-shadow" style="display: none;"></div>

<style>
    .edit-user {
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
    }
    .edit-user-wrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .editing-user-header {
        font-weight: normal;
    }

    .wrapper {
        padding: 0 0 15px 0;
    }
    .shadow-input {
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: border-color 1s;
        border: 1px solid;
        border-color: #d3d3d3;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        color: #565d63;
        height: var(--height);
        font-size: 1em;
    }
    .shadow-input:focus {
        border-color: #80bdff;
        outline: none;
    }
    .shadow-input, .user-roles-input {
        box-sizing: border-box;
    }
    .user-roles-input {
        height: var(--height);
        background-color: transparent;
    }
    .input-label {
        display: inline;
    }
    .red-shadow {
        box-shadow: 0px 0px 8px 3px #ff5555;
    }

    .update-button {
        margin-top: 10px;
        width: 102%;
        color: #FFF;
    }
    .back-show-button-wrapper {
        width: 15%;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .back-button,.show-button {
        width: 100%;
    }
    .back-button {
        background-color: #6c757d;
    }
    .back-button:hover {
        background-color: #5a6268;
    }
</style>
