<script lang="ts">
    import DealershipsList from "$lib/components/DealershipsList.svelte";
    import { goto } from "$app/navigation";
    import { page } from "$app/stores";
    import type { Group } from "$lib/data/group"
    
    export let data;

    let groups: Group[] = data.groups;
    let searchValue: string;

    console.log("This is groups: ", groups)

    let deepCopy = (obj: Group[]) => { return JSON.parse(JSON.stringify(obj)) };

    let groupsCopy: Group[] = deepCopy(groups);

    function getQuery() {
        const query = $page.url.searchParams.get("q");
        if (query !== null) {
            let filtered = groupsCopy.filter((el) => {
                if (
                    el.groupName.toLocaleLowerCase().includes(query.toLocaleLowerCase()) || 
                    el.groupCity.toLocaleLowerCase().includes(query.toLocaleLowerCase()) ||
                    el.generalManager?.name.toLocaleLowerCase().includes(query.toLocaleLowerCase()) ||
                    el.generalManager?.phone.toLocaleLowerCase().includes(query.toLocaleLowerCase())
                ) {
                    return true;
                }

                return false;
            });
            groups = filtered;
        }
    }

    function search() {
        $page.url.searchParams.set("q", searchValue);
        goto(`/groups?${$page.url.searchParams.toString()}`, { invalidateAll: true });
        getQuery();
    }

    let createNewGroup = () => { goto("/groups/new") }
</script>
        <h1 class="facilities-h">Groups</h1>

<div class="facilities-content-wrapper-wrapper">
    <div class="facilities-wrapper">
        <div class="search-and-new-button">
            <div class="new-facilities-wrapper"><button class="new-facilites-button" on:click={createNewGroup}>New Group</button></div>
            <form class="search" on:submit|preventDefault={search}>
                <input class="search-input" type="search" placeholder="Search" bind:value={searchValue}/>
                <button class="search-submit" type="submit">Go</button>
            </form>
        </div>
    </div>

    <DealershipsList groups={groups} />
</div>
<!-- </div> -->


<style>
    .facilities-wrapper {
        width: 80vw;
    }

    .facilities-h {
        margin-bottom: 40px;
        text-align: center;
        color: #212529;
        font-weight: normal;
    }

    .facilities-content-wrapper-wrapper {
        /* width: 100vw;
        display: flex;
        justify-content: center; */
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .facilities-content-wrapper {
        margin-top: 20px;
        width: 80vw;
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        row-gap: 10px;
    }

    .facilities-subtext-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .facilities-subtext {
        font-size: .75em;
        width: 77vw;
        color: #6d767e;
        font-style: italic;
    }
    .search-and-new-button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .search {
        display: flex;
        flex-direction: row;
    }

    .search-input {
        color: #565d63;
        padding-left: 10px;
        font-size: 1em;
        height: 35px;
        width: 100%;
        border: 1px solid;
        border-color: #d3d3d3;
        border-radius: 5px;
        box-shadow: 0;
        transition: box-shadow 1s;
        transition: border-color 1s;
    }
    .search-input:focus {
        box-shadow: 0px 0px 8px 3px #bfdeff;
        border-color: #80bdff;
        outline: none;
    }

    .new-facilites-button {
        width: 150px;
    }
    .search-submit {
        width: 60px;
    }
    .new-facilites-button, .search-submit {
        background-color: #878fa6;
        color: #FFF;
        text-decoration: none;
        height: 35px;
        border: none;
        border-radius: 3px;
        font-size: 1em;
        cursor: pointer;

        transition: background-color .3s;
    }
    .new-facilites-button:hover, .search-submit {
        background-color: #343a40;
    }
</style>
