<script lang="ts">
    import { goto } from "$app/navigation";
    import { browser } from "$app/environment";
    import { get } from "svelte/store";
    import { email } from "$lib/stores/auth";
    import { dealerships, url } from "$lib/stores/dealerships";
    import GroupNew from "$lib/components/GroupNew.svelte";
    import type { Group } from "$lib/data/group";

    if (get(email) === "" && browser) {
        goto("/login");
    }

    let groupInfo: Group = {
        groupName: "",
        groupAddress1: "",
        groupAddress2: "",
        groupCity: "",
        groupState: "",
        groupZip: "",
        groupContacts: [],
        dealerships: [],
    }

    let newOrEdit = 'new';

    async function createDealership() {

        await window.fetch(get(url) + "/dealerships", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(groupInfo)
        }).then(async () => {
            const response = await fetch(`${get(url)}/dealerships`, {
                method: "GET",
            });
            dealerships.set(JSON.stringify(await response.json()));

            goto(`/groups`);
        });
    }
    let goBack = () => { goto("/claims") };
</script>

<div class="claims-wrapper">
    <div class="claims-headers">
        <h1 class="claims-h">Groups</h1>
    </div>

    <GroupNew bind:groupInfo={groupInfo} bind:newOrEdit={newOrEdit} on:saveGroup={createDealership}/>

</div>

<style>
    .claims-wrapper {
        margin-top: 10px;
        margin-bottom: 10vh;
    }

    .claims-h {
        margin: 0;
        text-align: center;
        color: #212529;
        font-weight: normal;
    }

    .create-user {
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
    }
    .create-user-wrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .creating-user-header {
        font-weight: normal;
    }

    .wrapper {
        padding: 0 0 15px 0;
    }
    .shadow-input {
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: border-color 1s;
        border: 1px solid;
        border-color: #d3d3d3;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        color: #565d63;
        height: var(--height);
        font-size: 1em;
    }
    .shadow-input:focus {
        border-color: #80bdff;
        outline: none;
    }
    .shadow-input, .user-roles-input {
        box-sizing: border-box;
    }
    .user-roles-input {
        background-color: transparent;
        width: 100%;
    }
    .input-label {
        display: inline;
    }
    .red-shadow {
        box-shadow: 0px 0px 8px 3px #ff5555;
    }

    .create-button {
        margin-top: 10px;
        width: 102%;
    }
    .back-show-button-wrapper {
        width: 6%;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .back-button {
        color: white;
        background-color: #6c757d;
    }
    .back-button:hover {
        background-color: #5a6268;
    }
</style>
