<script>
  import { goto } from "$app/navigation";
  import { browser } from "$app/environment";
  import { get } from "svelte/store";
  import { email, url, users } from "$lib/stores/auth";
  import { auth } from "$lib/services/auth";
  import moment from "moment";
  import UserNew from "$lib/components/UserNew.svelte";

  if (get(email) === "" && browser) {
    goto("/login");
  }

  let newOrEdit = "new";
  export let data;
  let dealershipListRes = data.dealershipListRes;

  let userInfo = {
    email: "",
    roleInput: "user",
    groupInput: "",
    dealerInput: "",
    expiresAt: "",
    password: "",
    confirmedPassword: "",
    disabled: false,
    emailVerified: false,
  };

  let emailInput, emailElement;
  let disabledInput = false;
  let emailVerifiedInput = true;
  let roleInput;
  let dealerInput = null;
  let expiresAtInput;
  let passwordInput, passwordElement;
  let confirmPasswordInput, confirmPasswordElement;

  async function createUser() {
    // let proceed = true;
    // let expiresAt = "";
    // if (!emailInput) {
    //     proceed = false;
    //     emailElement.classList.add("red-shadow");
    // }
    // if (expiresAtInput) {
    //     let expiresAtDate = moment.utc(expiresAtInput);
    //     expiresAt = expiresAtDate.toISOString();
    // }
    // if (!passwordInput) {
    //     proceed = false;
    //     passwordElement.classList.add("red-shadow");
    // }
    // if (!confirmPasswordInput) {
    //     proceed = false;
    //     confirmPasswordElement.classList.add("red-shadow");
    // }

    // if (!proceed) {
    //     return;
    // }

    // if (!(userInfo.password === userInfo.confirmedPassword) {
    //     return;
    // }

    let date = moment();
    let currentDate = date.toISOString();

    let client = await auth.createClient();
    let res = await auth.signup(client, {
      email: userInfo.email,
      password: userInfo.password,
      connection: "Username-Password-Authentication",
    });
    let auth0ID = await res.Id;
    let postData;
    if (userInfo.roleInput === "user") {
      postData = {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          auth0ID: auth0ID,
          email: userInfo.email,
          role: userInfo.roleInput,
          dealership: userInfo.groupInput,
          expires_at: userInfo.expiresAt,
          created_at: currentDate,
          updated_at: currentDate,
          disabled: userInfo.disabled,
          email_verified: userInfo.emailVerified,
          agreed_to_disclaimer: false,
        }),
      };
    } else {
      postData = {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          auth0ID: auth0ID,
          email: userInfo.email,
          role: userInfo.roleInput,
          expires_at: userInfo.expiresAt,
          created_at: currentDate,
          updated_at: currentDate,
          disabled: userInfo.disabled,
          email_verified: userInfo.emailVerified,
          agreed_to_disclaimer: false,
        }),
      };
    }
    let apiRes = await window
      .fetch(get(url) + "/users", postData)
      .then(async (res) => {
        const response = await fetch(`${get(url)}/users`, {
          method: "GET",
        });
        users.set(JSON.stringify(await response.json()));

        goto(`/users/${auth0ID}`);
      });
  }
  let goBack = () => {
    goto("/users");
  };
</script>

<div class="create-user">
  <UserNew bind:newOrEdit bind:dealershipListRes bind:userInfo on:saveUser={createUser} />
  <!-- <form class="create-user-wrapper">
        <h1 class="creating-user-header">New User</h1>

        <div class="email-wrapper wrapper">
            <p class="input-label">Email</p>
            <input class="create-input email-input shadow-input blue-shadow" type="email" 
                bind:value={emailInput} bind:this={emailElement} on:input={emailElement.classList.remove("red-shadow")}/>
        </div>
        <div class="disabled-wrapper wrapper">
            <p class="input-label">Disabled</p>
            <input class="create-input disabled-input" type="checkbox" 
                bind:checked={disabledInput}/>
        </div>
        <div class="email-verified-wrapper wrapper">
            <p class="input-label">Email verified</p>
            <input class="create-input email-verified-input" type="checkbox"
                bind:checked={emailVerifiedInput}/>
        </div>
        <div class="user-roles-wrapper wrapper">
            <p class="input-label">Roles</p>
            <select class="create-input user-roles-input shadow-input blue-shadow" 
                bind:value={roleInput}>
                <option value="admin">admin</option>
                <option value="user" selected>user</option>
            </select>
        </div>
        {#if roleInput === "user"}
            <div class="wrapper">
                <p class="input-label">Group</p>
                <select class="create-input user-roles-input shadow-input blue-shadow" 
                    bind:value={dealerInput}>
                    {#each dealershipListRes as dealer}
                        <option value={dealer.id}>{dealer.groupName}</option>
                    {/each}
                </select>
            </div>
        {/if}
        <div class="expires-at-wrapper wrapper">
            <p class="input-label">Expires at</p>
            <input type="date" class="shadow-input blue-shadow"
                bind:value={expiresAtInput}/>
        </div>
        <div class="new-password-wrapper wrapper">
            <p class="input-label">New password</p>
            <input type="password" class="create-input new-password-input shadow-input blue-shadow" 
                bind:value={passwordInput} bind:this={passwordElement} on:input={passwordElement.classList.remove("red-shadow")}/>
        </div>
        <div class="confirm-password-wrapper wrapper">
            <p class="input-label">Confirm password</p>
            <input type="password" class="create-input confirm-password-input shadow-input blue-shadow"
                bind:value={confirmPasswordInput} bind:this={confirmPasswordElement} on:input={confirmPasswordElement.classList.remove("red-shadow")}/>
        </div>
        <div class="create-button-wrapper wrapper">
            <button type="submit" class="btn-primary create-button button" on:click={createUser}>Create User</button>
        </div>
        <div class="back-show-button-wrapper">
            <button class="btn-primary back-button button" on:click={goBack}>Back</button>
        </div>
    </form> -->
</div>

<div class="red-shadow" style="display: none;"></div>

<style>
  .create-user {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
  }
  .create-user-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .creating-user-header {
    font-weight: normal;
  }

  .wrapper {
    padding: 0 0 15px 0;
  }
  .shadow-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: border-color 1s;
    border: 1px solid;
    border-color: #d3d3d3;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #565d63;
    height: var(--height);
    font-size: 1em;
  }
  .shadow-input:focus {
    border-color: #80bdff;
    outline: none;
  }
  .shadow-input,
  .user-roles-input {
    box-sizing: border-box;
  }
  .user-roles-input {
    background-color: transparent;
    width: 100%;
  }
  .input-label {
    display: inline;
  }
  .red-shadow {
    box-shadow: 0px 0px 8px 3px #ff5555;
  }

  .create-button {
    margin-top: 10px;
    width: 102%;
  }
  .back-show-button-wrapper {
    width: 6%;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .back-button {
    color: white;
    background-color: #6c757d;
  }
  .back-button:hover {
    background-color: #5a6268;
  }
</style>
