@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --height: calc(1.5em + .75rem + 2px);
}

body {
    margin: 0;
    padding: 0;
    font-family: Rubik, sans-serif;
}

.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: #878fa6;
    border: none;
    border-radius: 3px;
    height: var(--height);
    padding: 0 15px;
    transition: background-color .3s;
    font-size: 1em;
    text-align: center;
}
.btn-primary:hover {
    background-color: #343a40;
    cursor: pointer;
}

.blue-shadow {
    box-shadow: 0;
}

.blue-shadow:focus {
    box-shadow: 0px 0px 8px 3px #bfdeff;
    outline: none;
}
