<script lang="ts">
    import { goto } from "$app/navigation";
    import { browser } from "$app/environment";
    import { get } from "svelte/store";
    import { email } from "$lib/stores/auth";
    import GroupShow from "$lib/components/GroupShow.svelte";
    import type { Group } from "$lib/data/group"

    if (get(email) === "" && browser) {
        goto("/login");
    }
    export let data: Group;

    let goBack = () => { goto("/groups") };
    let goEdit = () => { goto(`/groups/${data.id}/edit`) };
</script>

<div class="claims-wrapper">
    <div class="claims-headers">
        <h1 class="claims-h">Groups</h1>
    </div>

    <GroupShow bind:groupInfo={data} />

</div>

<style>
    .claims-wrapper {
        margin-top: 10px;
        margin-bottom: 10vh;
    }

    .claims-h {
        margin: 0;
        text-align: center;
        color: #212529;
        font-weight: normal;
    }

    .facilities-h {
        margin-bottom: 40px;
        text-align: center;
        color: #212529;
        font-weight: normal;
    }
    .user-show-wrapper {
        display: flex;
        justify-content: center;
    }
    .content-wrapper {
        width: 80%;
    }

    .buttons-wrapper {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
    .button {
        background-color: #6c757d;
    }
    .button:hover {
        background-color: #5a6268;
    }
</style>
