<script>
    import { goto } from "$app/navigation";
    import { browser } from "$app/environment";
    import { page } from "$app/stores";
    import { get } from "svelte/store";
    import { email } from "$lib/stores/auth";

    if (get(email) === "" && browser) {
        goto("/login");
    }

    let deepCopy = (obj) => { return JSON.parse(JSON.stringify(obj)) };

    export let data;
    let usersRes = data.usersRes;
    let usersResCopy = deepCopy(usersRes);

    let searchValue;

    function getQuery() {
        const query = $page.url.searchParams.get("q");
        if (query !== null) {
            let filtered = usersResCopy.filter((el) => {
                if (
                    el.email.toLocaleLowerCase().includes(query.toLocaleLowerCase()) ||
                    el.role.toLocaleLowerCase().includes(query.toLocaleLowerCase())
                ) {
                    return true;
                }
                return false;
            });
            usersRes = filtered;
        }
    }

    function search() {
        $page.url.searchParams.set("q", searchValue);
        goto(`/users?${$page.url.searchParams.toString()}`, { invalidateAll: true });
        getQuery();
    }

    let createNewUser = () => { goto("/users/new") }
</script>

<h1 class="users-header">Users</h1>

<div class="users-wrapper-wrapper">
    <div class="users-wrapper">
        <div class="search-and-new-button">
            <div class="new-user-wrapper"><button class="new-user-button" on:click={createNewUser}>New User</button></div>
            <form class="search" on:submit|preventDefault={search}>
                <input class="search-input" type="search" placeholder="Search" bind:value={searchValue}/>
                <button class="search-submit" type="submit">Go</button>
            </form>
        </div>
    </div>

    <UsersList usersRes={usersRes} />
</div>


<style>
    .users-header {
        text-align: center;
        font-weight: normal;
        margin-bottom: 40px;
        color: #212529;
    }

    .users-wrapper-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .users-wrapper {
        width: 80vw;
    }

    .search-and-new-button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .search {
        display: flex;
        flex-direction: row;
    }

    .search-input {
        color: #565d63;
        padding-left: 10px;
        font-size: 1em;
        height: 35px;
        width: 100%;
        border: 1px solid;
        border-color: #d3d3d3;
        border-radius: 5px;
        box-shadow: 0;
        transition: box-shadow 1s;
        transition: border-color 1s;
    }
    .search-input:focus {
        box-shadow: 0px 0px 8px 3px #bfdeff;
        border-color: #80bdff;
        outline: none;
    }

    .new-user-button {
        width: 100px;
    }
    .search-submit {
        width: 60px;
    }
    .new-user-button, .search-submit {
        background-color: #878fa6;
        color: #FFF;
        text-decoration: none;
        height: 35px;
        border: none;
        border-radius: 3px;
        font-size: 1em;
        cursor: pointer;

        transition: background-color .3s;
    }
    .new-user-button:hover, .search-submit {
        background-color: #343a40;
    }
</style>
