<script>
    import { goto } from "$app/navigation";
    import { browser } from "$app/environment";
    import { get } from "svelte/store";
    import { email } from "$lib/stores/auth";
    import moment from "moment";

    if (get(email) === "" && browser) {
        goto("/login");
    }
    export let data;

    let user = JSON.parse(JSON.stringify(data.userInfo));
    let dealershipListRes = data.dealershipListRes;

    let goBack = () => { goto("/users") };
    let goEdit = () => { goto(`/users/${data.userID}/edit`) };

    let getDealership = (dealershipId) => {
        console.log("dealershipID: ", dealershipId)
        console.log("dealerships: ", dealershipListRes)
        let result = dealershipListRes.filter(obj => {
            return obj.id === dealershipId
        })
        console.log("result: ", result)
        return result[0].groupName
    }
</script>

<div class="user-show-wrapper">
    <div class="content-wrapper">
        <div class="email-wrapper"><p><strong>Email: </strong>{user.email}</p></div>
        <div class="roles-wrapper"><p><strong>Role: </strong>{user.role}</p></div>
        {#if user.role === "user"}
            <div class="dealership-wrapper"><p><strong>Group: </strong>{getDealership(user.dealership)}</p></div>
        {/if}

        {#if user.expires_at}
            <div class="expires-wrapper"><p><strong>Expires at: </strong>{moment.utc(user.expires_at).format("YYYY-MM-DD HH:mm:ss")}</div>
        {:else}
            <div class="expires-wrapper"><p><strong>Expires at:</strong></div>
        {/if}

        <div class="buttons-wrapper">
            <button class="btn-primary back-button button" on:click={goBack}>Back</button>
            <button class="btn-primary edit-button button" on:click={goEdit}>Edit</button>
        </div>
    </div>
</div>

<style>
    .user-show-wrapper {
        display: flex;
        justify-content: center;
    }
    .content-wrapper {
        width: 80%;
    }

    .buttons-wrapper {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
    .button {
        background-color: #6c757d;
    }
    .button:hover {
        background-color: #5a6268;
    }
</style>
