<script lang="ts">
    import { onMount } from "svelte";
    import { auth } from "$lib/services/auth";
    import { email, isAdmin, url, auth0ID, users } from "$lib/stores/auth";
    import { get } from "svelte/store";

    let auth0Client: any;

    let emailLogin: string;
    let password: string;

    let errorMessage: string = "";
    let error: object = {};

    onMount(async () => {
        auth0Client = await auth.createClient();
    });

    let loggingIn = false;

    async function login() {
        loggingIn = true;

        let options = {
            email: emailLogin,
            password: password,
            realm: "Username-Password-Authentication",
            responseType: "token",
        };

        error = await auth.login(auth0Client, options);
        
        if (error) {
            loggingIn = false;
            if (error.code === "too_many_attempts") {
                errorMessage = "Too many login attempts";
            } else {
                errorMessage = "Wrong email or password";
            }
        }
    }
</script>

<Error errorMessage={errorMessage} />

<div class="login-wrapper">
    <div class="login-wrapper-2">
        <img class="login-image" src="images/Auto-Gravy.svg" alt="autogravy logo" width="300px">
        <form class="login-form">
            <p class="login-text">Email</p>
            <input class="login-input" bind:value={emailLogin} type="email" />
            <p class="login-text">Password</p>
            <input class="login-input" bind:value={password} type="password" />
            {#if !loggingIn}
                <button class="btn-primary login-submit" type="submit" on:click={login}>Login</button>
            {:else}
                <button class="btn-primary login-submit" type="submit" disabled>Loading &nbsp <img src="/images/LAST_LOADING.gif" alt="loading image"/></button>
            {/if}
        </form>
        <div class="long-text-container">
            <a class="forgot-password-link" href="https://autogravy.com">Forgot password?</a>
            <p class="signup-text">Don't have an Autogravy account set up with us? <a class="signup-link" href="https://autogravy.com/launch-trial">Fill out the form here</a> to start your free trial!</p>
        </div>
    </div>
</div>

<style>
    .login-wrapper {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #d3d3d3;
        border-radius: 5px;
        width: 29vw;
    }

    .login-wrapper-2 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 27vw;
    }

    .login-form {
        width: 95%;
        text-align: center;
    }

    .login-text {
        text-align: left;
        margin: 15px 0 0 0;
    }

    .login-input {
        color: #565d63;
        padding-left: 10px;
        font-size: 1em;
        height: var(--height);
        width: 100%;
        border: 1px solid;
        border-color: #d3d3d3;
        border-radius: 5px;
        box-shadow: 0;
        transition: box-shadow 1s;
        transition: border-color 1s;
    }

    .login-input:focus {
        box-shadow: 0px 0px 8px 3px #bfdeff;
        border-color: #80bdff;
        outline: none;
    }

    .login-submit {
        margin-top: 10px;
        width: 102%;
    }

    .long-text-container {
        margin-top: 10px;
    }

    .signup-text {
        margin-top: 5px;
        font-style: italic;
        color: #7d858c;
        font-size: 0.9em;
    }

    .signup-link, .forgot-password-link {
        text-decoration: none;
        color: #2a71bf;
    }
</style>
