<script>
    import ClaimInfo from "$lib/components/ClaimInfo.svelte";
    // import "$lib/styles/styles.css";
    export let data;
    let claimInfo = data.claimInfo;
</script>

<div class="claims-wrapper">
    <div class="claims-headers">
        <h1 class="claims-h">Claims</h1>
    </div>

    <ClaimInfo bind:claimInfo={claimInfo} />

</div>

<style>
    .claims-wrapper {
        margin-top: 10px;
        margin-bottom: 10vh;
    }

    .claims-h {
        margin: 0;
        text-align: center;
        color: #212529;
        font-weight: normal;
    }

    .claims-content-wrapper-wrapper {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .claims-content-wrapper {
        margin-top: 20px;
        width: 80vw;
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        row-gap: 10px;
    }

    .claims-subtext-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .claims-subtext {
        font-size: .75em;
        width: 77vw;
        color: #6d767e;
        font-style: italic;
    }
</style>