<script>
  import Complaint from "$lib/components/ComplaintCauseCorrection.svelte";
  import Part from "$lib/components/Parts.svelte";

  export let claimInfo;

  let isEdit = false;

  function editClaim() {
    isEdit = !isEdit;
    console.log(claimInfo)
  }

  function addComplaint() {
    const largestId = claimInfo.complaints.reduce((p, c) => p.id > c.id ? p : c)
    let newComplaint = {
        "id": largestId.id + 1,
        "complaint": "",
        "cause": "",
        "correction": ""
    }
    claimInfo.complaints.push(newComplaint)
    claimInfo = claimInfo
    if (!isEdit) {
        isEdit = true;
    }
  }

  function addPart() {
    const largestId = claimInfo.parts.reduce((p, c) => p.id > c.id ? p : c)

    let newPart = {
        "id": largestId.id + 1,
        "part": "",
        "part_number": "",
        "reference": "",
        "requested_unit_price": "",
        "requested_quantity": "",
        "authorized_unit_price": "",
        "authorized_quantity": "",
        "authorized_amount": "",
        "covered": false,
        "taxable": false,
        "exception": false
    }
    claimInfo.parts.push(newPart)
    claimInfo = claimInfo
  }
</script>

<div class="container container-padding border rounded">
  {#if isEdit}
    <div class="row justify-content-between">
      <div class="col-2">Contract Info</div>
      <div class="col-2">
        <button class="btn-primary" on:click={editClaim}>Save</button>
      </div>
    </div>
    <div class="row row-margin-top">
      <div class="col container-padding border">
        <div class="row bold">Claim</div>
        <div class="row"><input bind:value={claimInfo.claim} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Claimant Name</div>
        <div class="row"><input bind:value={claimInfo.claimaint} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Reported</div>
        <div class="row">
          <input type="date" bind:value={claimInfo.reported} />
        </div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Validation</div>
        <div class="row"><input bind:value={claimInfo.validaton} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Contract Validation</div>
        <div class="row">
          <input bind:value={claimInfo.contract_validation} />
        </div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Contract ID</div>
        <div class="row"><input bind:value={claimInfo.contract_id} /></div>
      </div>
    </div>
    <div class="row row-margin-bottom">
      <div class="col container-padding border">
        <div class="row bold">Issue Date</div>
        <div class="row">
          <input type="date" bind:value={claimInfo.issue_date} />
        </div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Loss Date</div>
        <div class="row">
          <input type="date" bind:value={claimInfo.loss_date} />
        </div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Expiration Date</div>
        <div class="row">
          <input type="date" bind:value={claimInfo.expiration_date} />
        </div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Issue Odometer</div>
        <div class="row"><input bind:value={claimInfo.issue_odmeter} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Loss Odometer</div>
        <div class="row"><input bind:value={claimInfo.loss_odometer} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Expiration Odometer</div>
        <div class="row">
          <input bind:value={claimInfo.expiration_odometer} />
        </div>
      </div>
    </div>
    <div>Vehicle Info</div>
    <div class="row row-margin-top row-margin-bottom">
      <div class="col container-padding border">
        <div class="row bold">Dealer</div>
        <div class="row"><input bind:value={claimInfo.dealer} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Vehicle</div>
        <div class="row"><input bind:value={claimInfo.vehicle} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">VIN</div>
        <div class="row"><input bind:value={claimInfo.vin} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Vehicle Price</div>
        <div class="row"><input bind:value={claimInfo.vehicle_price} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Factory Warranty Base</div>
        <div class="row">
          <input bind:value={claimInfo.factory_warranty_base} />
        </div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Factory Warranty Drive</div>
        <div class="row">
          <input bind:value={claimInfo.factory_warranty_drive} />
        </div>
      </div>
    </div>
    <div>Claim Details</div>
    <div class="row row-margin-top">
      <div class="col container-padding border">
        <div class="row bold">Manager Approved</div>
        <div class="row"><input bind:value={claimInfo.manager_approved} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Total Claim Amount</div>
        <div class="row"><input bind:value={claimInfo.total_amount} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Total Exception</div>
        <div class="row"><input bind:value={claimInfo.total_exception} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Deductible Amount</div>
        <div class="row">
          <input bind:value={claimInfo.deductible_amount} />
        </div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Deductible Applied</div>
        <div class="row">
          <input bind:value={claimInfo.deductible_applied} />
        </div>
      </div>
    </div>
    <div class="row row-margin-bottom">
      <div class="col container-padding border">
        <div class="row bold">Net Authorized</div>
        <div class="row"><input bind:value={claimInfo.net_authorized} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Benefits Paid</div>
        <div class="row"><input bind:value={claimInfo.benefits_paid} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Expenses Paid</div>
        <div class="row"><input bind:value={claimInfo.expenses_paid} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">This Claim Total Paid</div>
        <div class="row">
          <input bind:value={claimInfo.this_claim_total_paid} />
        </div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Contract Total Paid</div>
        <div class="row">
          <input bind:value={claimInfo.contract_total_paid} />
        </div>
      </div>
    </div>
  {:else}
    <div class="row justify-content-between">
      <div class="col-2">Contract Info</div>
      <div class="col-2">
        <button class="btn-primary" on:click={editClaim}>Edit</button>
      </div>
    </div>

    <div class="row row-margin-top">
      <div class="col container-padding border">
        <div class="row bold">Claim</div>
        <div class="row">{claimInfo.claim}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Claimant Name</div>
        <div class="row">{claimInfo.claimaint}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Reported</div>
        <div class="row">{claimInfo.reported}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Validation</div>
        <div class="row">{claimInfo.validaton}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Contract Validation</div>
        <div class="row">{claimInfo.contract_validation}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Contract ID</div>
        <div class="row">{claimInfo.contract_id}</div>
      </div>
    </div>
    <div class="row row-margin-bottom">
      <div class="col container-padding border">
        <div class="row bold">Issue Date</div>
        <div class="row">{claimInfo.issue_date}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Loss Date</div>
        <div class="row">{claimInfo.loss_date}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Expiration Date</div>
        <div class="row">{claimInfo.expiration_date}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Issue Odometer</div>
        <div class="row">{claimInfo.issue_odmeter}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Loss Odometer</div>
        <div class="row">{claimInfo.loss_odometer}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Expiration Odometer</div>
        <div class="row">{claimInfo.expiration_odometer}</div>
      </div>
    </div>
    <div>Vehicle Info</div>
    <div class="row row-margin-top row-margin-bottom">
      <div class="col container-padding border">
        <div class="row bold">Dealer</div>
        <div class="row">{claimInfo.dealer}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Vehicle</div>
        <div class="row">{claimInfo.vehicle}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">VIN</div>
        <div class="row">{claimInfo.vin}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Vehicle Price</div>
        <div class="row">{claimInfo.vehicle_price}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Factory Warranty Base</div>
        <div class="row">{claimInfo.factory_warranty_base}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Factory Warranty Drive</div>
        <div class="row">{claimInfo.factory_warranty_drive}</div>
      </div>
    </div>
    <div>Claim Details</div>
    <div class="row row-margin-top">
      <div class="col container-padding border">
        <div class="row bold">Manager Approved</div>
        <div class="row">{claimInfo.manager_approved}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Total Claim Amount</div>
        <div class="row">{claimInfo.total_amount}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Total Exception</div>
        <div class="row">{claimInfo.total_exception}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Deductible Amount</div>
        <div class="row">{claimInfo.deductible_amount}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Deductible Applied</div>
        <div class="row">{claimInfo.deductible_applied}</div>
      </div>
    </div>
    <div class="row row-margin-bottom">
      <div class="col container-padding border">
        <div class="row bold">Net Authorized</div>
        <div class="row">{claimInfo.net_authorized}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Benefits Paid</div>
        <div class="row">{claimInfo.benefits_paid}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Expenses Paid</div>
        <div class="row">{claimInfo.expenses_paid}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">This Claim Total Paid</div>
        <div class="row">{claimInfo.this_claim_total_paid}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Contract Total Paid</div>
        <div class="row">{claimInfo.contract_total_paid}</div>
      </div>
    </div>
  {/if}
</div>

<div class="container container-padding border rounded">
  <div class="row justify-content-between">
    <div class="col-3">Complaint, Cause, Corrective Action</div>
    <div class="col-2">
      <button class="btn-primary" on:click={addComplaint}>Add</button>
    </div>
  </div>
  <div class="row row-margin-top">
    <div class="col-1 container-padding border">#</div>
    <div class="col container-padding border">Complaint Summary</div>
  </div>
  {#each claimInfo.complaints as complaint}
    <Complaint bind:complaint bind:isEdit />
  {/each}
</div>

<div class="container container-padding border rounded">
    <!-- <div>Complaint, Cause, Corrective Action</div> -->
    <div class="row justify-content-between">
      <div class="col-3">Parts</div>
      <div class="col-2">
        <button class="btn-primary" on:click={addPart}>Add</button>
      </div>
    </div>
    <div class="row">
        <div class="col-3">{claimInfo.dealer}</div>
    </div>
    <div class="row">
        <div class="col container-padding border">
            <div class="row bold">Contact</div>
            <div class="row">{claimInfo.contact}</div>
        </div>
        <div class="col container-padding border">
            <div class="row bold">Phone</div>
            <div class="row">{claimInfo.phone}</div>
        </div>
        <div class="col container-padding border">
            <div class="row bold">Repair Order</div>
            <div class="row">{claimInfo.repair_order}</div>
        </div>
        <div class="col container-padding border">
            <div class="row bold">Authorization Code</div>
            <div class="row">{claimInfo.authorization_code}</div>
        </div>
        <div class="col container-padding border">
            <div class="row bold">Authorized By</div>
            <div class="row">{claimInfo.authorized_by}</div>
        </div>
        <div class="col container-padding border">
            <div class="row bold">Authorized Date</div>
            <div class="row">{claimInfo.authorized_date}</div>
        </div>
    </div>
    <div class="row row-margin-top">
      <div class="col container-padding border">#</div>
      <div class="col-2 container-padding border">Part</div>
      <div class="col container-padding border">Part #</div>
      <div class="col container-padding border">Reference #</div>
      <div class="col container-padding border">Requested Unit Price</div>
      <div class="col container-padding border">Requested Quantity</div>
      <div class="col container-padding border">Authorized Unit Price</div>
      <div class="col container-padding border">Authorized Quantity</div>  
      <div class="col container-padding border">Authorized Amount</div>  
      <div class="col container-padding border">Covered</div>
      <div class="col container-padding border">Taxable</div>  
    </div>
    {#each claimInfo.parts as part}
      <Part bind:part />
    {/each}
  </div>

<style>
  .container-padding {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .row-margin-top {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .row-margin-bottom {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .row-margin-sides {
    margin-left: 1em;
    margin-right: 1em;
  }

  .bold {
    font-weight: bold;
  }
</style>
