<script>
    import moment from "moment";
    import { goto } from "$app/navigation";

    export let claimInfo;

</script>

<div class="claims-list-wrapper">
    <table class="claims-table">
        <thead>
            <th>Claim ID</th>
            <th>Claimant</th>
            <th>Dealer</th>
            <th>Issue Date</th>
            <th></th>
        </thead>
        {#if claimInfo.length > 0}
            {#each claimInfo as claim}
            <tr>
                <!-- <td><a class="email-link" href="/users/{user.auth0ID}">{user.email}</a></td> -->
                <td>{claim.claim}</td>
                <td>{claim.claimaint}</td>
                <td>{claim.dealer}</td>
                <td>{moment.utc(claim.issue_date).format("YYYY-MM-DD HH:mm:ss")}</td>
                <!-- {#if user.disabled}
                    <td>Disabled</td>
                {:else if user.expires_at && Date.parse(user.expires_at) - Date.parse(new Date()) < 0}
                    <td>Expired</td>
                {:else}
                    <td></td>
                {/if} -->
                <!-- <td>{user.role}</td>
                {#if user.expires_at}
                    <td>{moment.utc(user.expires_at).format("YYYY-MM-DD HH:mm:ss")}</td>
                {:else}
                    <td>Never</td>
                {/if} -->
                <td class="table-button-wrapper">
                    <button class="btn-primary edit-button" on:click={() => goto(`/claims/${claim.claim}/edit`)}>Edit</button>
                    <!-- <button class="btn-primary delete-button" on:click={deleteUserClick(user.auth0ID)}>Delete</button> -->
                </td>
            </tr>
            {/each}
        {/if}
    </table>
</div>

<style>
    .claims-list-wrapper {
        width: 80vw;
        display: flex;
        justify-content: center;
    }

    .claims-table {
        display: table;
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: left;
        width: 100%;
        border-collapse: collapse;
    }

    thead {
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        color: #22262a;
    }

    tr {
        text-align: left;
        border-bottom: 1px solid #dee2e6;
        line-height: 3em;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:last-child {
        border-bottom: none;
    }

    td, th {
        padding: 10px 0 10px 10px;
    }

    .email-link {
        text-decoration: none;
        color: #1a88fe;
    }
    .email-link:hover {
        text-decoration: underline;
    }

    .table-button-wrapper {
        text-align: right;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: auto;
        margin-right: 0;
        width: 150px;
    }
    .edit-button {
        background-color: #6c757d;
        margin-right: 15px;
        width: 50px;
    }
    .edit-button:hover {
        background-color: #5a6268;
    }
    .delete-button {
        background-color: #dc3545;
        width: 70px;
    }
    .delete-button:hover {
        background-color: #c82333;
    }
</style>
