<script>
  export let complaint;
  export let isEdit;
</script>

{#if isEdit}
  <div class="row row-margin-sides">
    <div class="col-1 container-padding border">{complaint.id}</div>
    <div class="col container-padding border">
      <div class="row">Complaint: <input bind:value={complaint.complaint} /></div>
      <div class="row">Cause: <input bind:value={complaint.cause} /></div>
      <div class="row">Correction: <input bind:value={complaint.correction} /></div>
    </div>
  </div>
{:else}
  <div class="row row-margin-sides">
    <div class="col-1 container-padding border">{complaint.id}</div>
    <div class="col container-padding border">
      <div class="row">Complaint: {complaint.complaint}</div>
      <div class="row">Cause: {complaint.cause}</div>
      <div class="row">Correction: {complaint.correction}</div>
    </div>
  </div>
{/if}

<style>
  .row-margin-sides {
    margin-left: 1em;
    margin-right: 1em;
  }

  .container-padding {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
</style>
