<script lang="ts">
    import { goto } from "$app/navigation";
    import type { Group } from "$lib/data/group"

    export let groups: Group[];


</script>

<div class="container thead">
    <div class="row th">
        <div class="col bold">More</div>
        <div class="col bold">Group</div>
        <div class="col bold">City</div>
        <div class="col bold">General Manager</div>
        <div class="col bold">Phone</div>
        <div class="col"></div>
    </div>
    {#if groups.length > 0}
    {#each groups as group}

    <div class="row group-row td">
        <div class="col"><button class="btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#{group.id}" aria-expanded="false" aria-controls="{group.id}">Show More</button></div>
        <div class="col"><a class="email-link" href="/groups/{group.id}">{group.groupName}</a></div>
        <div class="col">{group.groupCity}</div>
        <div class="col">{group.generalManager?.name}</div>
        <div class="col">{group.generalManager?.phone}</div>
        <div class="col">
            <button class="btn-primary edit-button" on:click={() => goto(`/groups/${group.id}/edit`)}>Edit</button>
        </div>
    </div>
    <div class="row collapse" id="{group.id}">
        <div class="card card-body">
            <div class="container thead">
                <div class="row th">
                    <div class="col bold">Dealership</div>
                    <div class="col bold">City</div>
                    <div class="col bold">Parts Manager</div>
                    <div class="col bold">Phone</div>
                </div>
                {#if group.dealerships.length > 0}
                    {#each group.dealerships as dealer}
                    <div class="row group-row td">
                        <div class="col">{dealer.dealershipName}</div>
                        <div class="col">{dealer.dealershipCity}</div>
                        <div class="col">{dealer.partsManager.name}</div>
                        <div class="col">{dealer.partsManager.phone}</div>
                    </div>
                    {/each}
                {/if}
            </div>
          </div>
    </div>
    {/each}
{/if}
</div>


<style>
    .thead {
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        color: #22262a;
        margin-top: 20px;
    }

    .group-row:nth-child(even) {
        background-color: #f2f2f2;
    }

    .td, .th {
        padding: 15px 0 15px 15px;
    }

    .email-link {
        text-decoration: none;
        color: #1a88fe;
    }
    .email-link:hover {
        text-decoration: underline;
    }
    .edit-button {
        background-color: #6c757d;
        margin-right: 15px;
        width: 50px;
    }
    .edit-button:hover {
        background-color: #5a6268;
    }
    .bold {
        font-weight: bold;
    }
</style>
