<script lang="ts">
    export let errorMessage: string = "";
</script>

{#if errorMessage !== ""}
    <div class="error-wrapper-wrapper">
        <div class="error-wrapper">
            <p class="error-message">{errorMessage}</p>
        </div>
    </div>
{/if}

<style>
    .error-wrapper-wrapper {
        width: 100vw;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0 30px 0;
    }

    .error-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100%;
        background-color: #f8d7da;
        border: 1px solid;
        border-color: #f5c6cb;
        border-radius: 10px;
    }

    .error-message {
        text-align: center;
        color: #721c24;
    }
</style>
