<script>
    import { state, insurance, inNetwork } from "$lib/stores/auth";
    import { get, derived } from "svelte/store";
    import { onMount } from "svelte";
    import { average } from "$lib/services/average";

    let averageData;
    onMount(async () => {
        try {
            averageData = await average();
        } catch (error) { }
    });
    export const averageStore = derived(
        [state, insurance, inNetwork],
        async ([$state, $insurance, $inNetwork]) => {
            try {
                averageData = await average();
                return averageData;
            } catch (error) { }
        }
    );

    averageStore.subscribe(() => { });
</script>

<div class="card-body">
    {#if averageData}
        <table id="estimation-table" class="table border-secondary">
            <thead class="thead-light">
                <tr>
                    <th>
                        Level of Care
                    </th>
                    <th id="table_insurance_name">
                        Selected Insurance
                    </th>
                    <th>All Payers</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="new_loc_DTX" data-new-loc="DTX">
                        DTX
                    </td>
                    <td id="in_network_DTX">
                        {averageData.selected.DTX}
                    </td>
                    <td id="out_network_DTX">
                        {averageData.all.DTX}
                    </td>
                </tr>
                <tr>
                    <td id="new_loc_RTC" data-new-loc="RTC">
                        RTC
                    </td>
                    <td id="in_network_RTC">
                        {averageData.selected.RTC}
                    </td>
                    <td id="out_network_RTC">
                        {averageData.all.RTC}
                    </td>
                </tr>
                <tr>
                    <td id="new_loc_PHP" data-new-loc="PHP">
                        PHP
                    </td>
                    <td id="in_network_PHP">
                        {averageData.selected.PHP}
                    </td>
                    <td id="out_network_PHP">
                        {averageData.all.PHP}
                    </td>
                </tr>
                <tr>
                    <td id="new_loc_IOP" data-new-loc="IOP">
                        IOP
                    </td>
                    <td id="in_network_IOP">
                        {averageData.selected.IOP}
                    </td>
                    <td id="out_network_IOP">
                        {averageData.all.IOP}
                    </td>
                </tr>
                <tr>
                    <td id="new_loc_GOP" data-new-loc="GOP">
                        GOP
                    </td>
                    <td id="in_network_GOP">
                        {averageData.selected.GOP}
                    </td>
                    <td id="out_network_GOP">
                        {averageData.all.GOP}
                    </td>
                </tr>
                <tr>
                    <td id="new_loc_POC" data-new-loc="POC">
                        POC
                    </td>
                    <td id="in_network_POC">
                        {averageData.selected.POC}
                    </td>
                    <td id="out_network_POC">
                        {averageData.all.POC}
                    </td>
                </tr>
                <tr>
                    <td id="new_loc_Misc" data-new-loc="Misc">
                        Misc
                    </td>
                    <td id="in_network_Misc">
                        {averageData.selected.Misc}
                    </td>
                    <td id="out_network_Misc">
                        {averageData.all.Misc}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="billing-total-footer"><p class="billing-footer-text">* Results based on a query of {averageData.claims} claims with a total billed amount of ${averageData.price}</p></div>
    {/if}
</div>

<style>
    .card-body {
        width: 50vw;
        padding: 20px;
        text-align: center;
        border: 1px solid #dfdfdf;
        border-radius: 5px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    thead {
        background: #e9ecef;
        color: #495057;
    }

    tr {
        text-align: left;
        border-bottom: 1px solid #dee2e6;
    }

    tr:last-child {
        border-bottom: none;
    }

    td, th {
        padding: 10px 0 10px 10px;
    }

    .billing-total-footer {
        width: 100%;
        text-align: left;
    }
</style>
