<script>
    import LogoFacebook from "carbon-icons-svelte/lib/LogoFacebook.svelte";
    import LogoTwitter from "carbon-icons-svelte/lib/LogoTwitter.svelte";
    import LogoLinkedin from "carbon-icons-svelte/lib/LogoLinkedin.svelte";
</script>

<footer class="footer">
    <div class="footer-links">
        <a class="footer-link" href="https://www.facebook.com/autogravy" target="_blank">
            <LogoFacebook size={32} />
        </a>
        <a class="footer-link" href="https://twitter.com/autogravy" target="_blank">
            <LogoTwitter size={32} />
        </a>
        <a class="footer-link" href="https://www.linkedin.com/company/autogravy/" target="_blank">
            <LogoLinkedin size={32} />
        </a>
    </div>
    <div class="footer-copyright"><strong>© 2023 Autogravy Inc.</strong></div>
</footer>

<style>
    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        left: 0;
        bottom: 0;
        height: 8%;
        width: 100vw;
        background-color: #343a40;
        color: white;
    }

    .footer-links {
        display: flex;
        gap: 20px;
    }

    .footer-link {
        color: white;
    }

    .footer-copyright {
        font-size: 1.1em;
    }
</style>
