<script>
    import { state, insurance, inNetwork } from "$lib/stores/auth";
    let stateValue;
    let insuranceValue;
    let inNetworkValue;
    $: state.set(stateValue);
    $: insurance.set(insuranceValue);
    $: inNetwork.set(inNetworkValue);
</script>

<div class="billing-options-wrapper">
    <div class="form-group">
        <label for="state">State</label>
        <select id="state" class="form-control" bind:value={stateValue}>
        <!--            <option selected disabled>Select State</option>-->
        <option value="AL" >AL</option>
        <option value="AR" >AR</option>
        <option value="AZ" >AZ</option>
        <option value="CA" >CA</option>
        <option value="CO" >CO</option>
        <option value="FL" >FL</option>
        <option value="GA" >GA</option>
        <option value="ID" >ID</option>
        <option value="IN" >IN</option>
        <option value="LA" >LA</option>
        <option value="MO" >MO</option>
        <option value="MT" >MT</option>
        <option value="NH" >NH</option>
        <option value="NJ" >NJ</option>
        <option value="OH" >OH</option>
        <option value="OR" >OR</option>
        <option value="TX" >TX</option>
        <option value="UT" selected>UT</option>
        <option value="WA" >WA</option>
        <option value="WY" >WY</option>
        </select>
    </div>

    <div class="form-group">
        <label for="insurance_name">Insurance</label>
        <select id="insurance_name" class="form-control" bind:value={insuranceValue}>
        <!--            <option selected disabled>Select Insurance</option>-->
        <option value="1199 SEIU (National Benefits Fund)" >1199 SEIU (National Benefits Fund)</option>
        <option value="ACM - TUFTS (Home Infusion &amp; Specialty Pharmacy Medical Benefit)" >ACM - TUFTS (Home Infusion &amp; Specialty Pharmacy Medical Benefit)</option>
        <option value="Aetna" selected>Aetna</option>
        <option value="Aetna POS II" >Aetna POS II</option>
        <option value="All Savers" >All Savers</option>
        <option value="Allegiance Benefit Plan Management" >Allegiance Benefit Plan Management</option>
        <option value="Alliance -Everyday  Help HMO" >Alliance -Everyday  Help HMO</option>
        <option value="Allied Benefit Systems" >Allied Benefit Systems</option>
        <option value="Ambetter" >Ambetter</option>
        <option value="Ameriben" >Ameriben</option>
        <option value="American Medical Security, Inc." >American Medical Security, Inc.</option>
        <option value="Americas PPO/Americas TPA" >Americas PPO/Americas TPA</option>
        <option value="Amerihealth New Jersey" >Amerihealth New Jersey</option>
        <option value="Amerihealth of Pennsylvania" >Amerihealth of Pennsylvania</option>
        <option value="Anthem BCBS of New Hampshire" >Anthem BCBS of New Hampshire</option>
        <option value="Anthem Blue Cross of California" >Anthem Blue Cross of California</option>
        <option value="Arkansas Medicaid" >Arkansas Medicaid</option>
        <option value="Asuris Northwest Health" >Asuris Northwest Health</option>
        <option value="Aultcare" >Aultcare</option>
        <option value="Auxiant" >Auxiant</option>
        <option value="BCBS - WA" >BCBS - WA</option>
        <option value="BCBS Federal" >BCBS Federal</option>
        <option value="BCBS General" >BCBS General</option>
        <option value="BCBS Missouri" >BCBS Missouri</option>
        <option value="BCBS NEW JERSEY" >BCBS NEW JERSEY</option>
        <option value="BCBS Utah FEP" >BCBS Utah FEP</option>
        <option value="BCBS of Alabama" >BCBS of Alabama</option>
        <option value="BCBS of Arizona" >BCBS of Arizona</option>
        <option value="BCBS of Arkansas" >BCBS of Arkansas</option>
        <option value="BCBS of California" >BCBS of California</option>
        <option value="BCBS of Colorado" >BCBS of Colorado</option>
        <option value="BCBS of Florida" >BCBS of Florida</option>
        <option value="BCBS of Georgia" >BCBS of Georgia</option>
        <option value="BCBS of Idaho" >BCBS of Idaho</option>
        <option value="BCBS of Indiana" >BCBS of Indiana</option>
        <option value="BCBS of Louisiana" >BCBS of Louisiana</option>
        <option value="BCBS of Montana" >BCBS of Montana</option>
        <option value="BCBS of New Jersey - Horizons" >BCBS of New Jersey - Horizons</option>
        <option value="BCBS of Ohio" >BCBS of Ohio</option>
        <option value="BCBS of Oregon" >BCBS of Oregon</option>
        <option value="BCBS of Texas" >BCBS of Texas</option>
        <option value="BCBS of Washington" >BCBS of Washington</option>
        <option value="BCBS of Wyoming " >BCBS of Wyoming </option>
        <option value="BEACON HEALTH OPTIONS" >BEACON HEALTH OPTIONS</option>
        <option value="Beacon Value Options" >Beacon Value Options</option>
        <option value="Behavioral Health Systems" >Behavioral Health Systems</option>
        <option value="Benefits Administrative Solutions" >Benefits Administrative Solutions</option>
        <option value="Blue Cross of Alaska and Washington - Premera" >Blue Cross of Alaska and Washington - Premera</option>
        <option value="Blue Shield of Idaho" >Blue Shield of Idaho</option>
        <option value="Boon Chapman" >Boon Chapman</option>
        <option value="Brokerage Concepts Inc" >Brokerage Concepts Inc</option>
        <option value="CHRISTUS Health Plan TX HIX" >CHRISTUS Health Plan TX HIX</option>
        <option value="Capitol Blue Cross" >Capitol Blue Cross</option>
        <option value="Carefirst" >Carefirst</option>
        <option value="Champ VA" >Champ VA</option>
        <option value="Cigna" >Cigna</option>
        <option value="Cigna Great West" >Cigna Great West</option>
        <option value="ComPsych" >ComPsych</option>
        <option value="Compsych" >Compsych</option>
        <option value="Connected Care" >Connected Care</option>
        <option value="Core Source" >Core Source</option>
        <option value="Coventry" >Coventry</option>
        <option value="Cypress" >Cypress</option>
        <option value="DMBA" >DMBA</option>
        <option value="EBMS" >EBMS</option>
        <option value="EMI" >EMI</option>
        <option value="First Choice" >First Choice</option>
        <option value="First Health" >First Health</option>
        <option value="Forest County Potawatomi" >Forest County Potawatomi</option>
        <option value="GEHA" >GEHA</option>
        <option value="GHI" >GHI</option>
        <option value="GROUP HEALTH COOP" >GROUP HEALTH COOP</option>
        <option value="Golden Rule" >Golden Rule</option>
        <option value="Group &amp; Pension Administrators" >Group &amp; Pension Administrators</option>
        <option value="Group Administrators (in Schaumburg, Illinois)" >Group Administrators (in Schaumburg, Illinois)</option>
        <option value="HMA" >HMA</option>
        <option value="HMC" >HMC</option>
        <option value="HOLMAN GROUP" >HOLMAN GROUP</option>
        <option value="HSA Health Plans" >HSA Health Plans</option>
        <option value="Harmony Health" >Harmony Health</option>
        <option value="Harvard Pilgrim" >Harvard Pilgrim</option>
        <option value="Health Choice" >Health Choice</option>
        <option value="Health Net" >Health Net</option>
        <option value="Health Net of California and Oregon" >Health Net of California and Oregon</option>
        <option value="Health Partners Behavioral" >Health Partners Behavioral</option>
        <option value="Health Plan of Nevada" >Health Plan of Nevada</option>
        <option value="Health Plans Inc." >Health Plans Inc.</option>
        <option value="Health Scope" >Health Scope</option>
        <option value="HealthNow Administrative Services" >HealthNow Administrative Services</option>
        <option value="Healthsmart" >Healthsmart</option>
        <option value="Hometown Health" >Hometown Health</option>
        <option value="Humana" >Humana</option>
        <option value="Intergroup Services" >Intergroup Services</option>
        <option value="Intervention Strategies" >Intervention Strategies</option>
        <option value="Kaiser Permanente" >Kaiser Permanente</option>
        <option value="Line CO" >Line CO</option>
        <option value="MHN" >MHN</option>
        <option value="MOUNTAIN HEALTH CO-OP" >MOUNTAIN HEALTH CO-OP</option>
        <option value="MRCC Employee Benefit Fund" >MRCC Employee Benefit Fund</option>
        <option value="Magellan" >Magellan</option>
        <option value="Magnacare" >Magnacare</option>
        <option value="Managed Care Administrators" >Managed Care Administrators</option>
        <option value="Masonry Industry Trust" >Masonry Industry Trust</option>
        <option value="Medica" >Medica</option>
        <option value="Medicaid - Outpatient " >Medicaid - Outpatient </option>
        <option value="Medicaid - UBH " >Medicaid - UBH </option>
        <option value="Medicaid BHOS" >Medicaid BHOS</option>
        <option value="Medicaid/Medicare" >Medicaid/Medicare</option>
        <option value="Medical Mutual" >Medical Mutual</option>
        <option value="Meritain" >Meritain</option>
        <option value="Moda Health" >Moda Health</option>
        <option value="Molina Health Care" >Molina Health Care</option>
        <option value="Motive Health" >Motive Health</option>
        <option value="NALC CDHP" >NALC CDHP</option>
        <option value="NEW HAMPSHIRE HEALTHY FAMILIES" >NEW HAMPSHIRE HEALTHY FAMILIES</option>
        <option value="National Association of Letter Carriers" >National Association of Letter Carriers</option>
        <option value="Operating Engineers Trust Fund" >Operating Engineers Trust Fund</option>
        <option value="Optum Healthcare" >Optum Healthcare</option>
        <option value="Oscar Health" >Oscar Health</option>
        <option value="Oxford" >Oxford</option>
        <option value="PEHP" >PEHP</option>
        <option value="PHP" >PHP</option>
        <option value="Pacific Source" >Pacific Source</option>
        <option value="Plasterers &amp; Cement Masons Health &amp; Welfare Fund" >Plasterers &amp; Cement Masons Health &amp; Welfare Fund</option>
        <option value="PreferredOne (MN)" >PreferredOne (MN)</option>
        <option value="Premera BCBS" >Premera BCBS</option>
        <option value="Providence Behavioral Health" >Providence Behavioral Health</option>
        <option value="Providence Health Care - Behavioral" >Providence Health Care - Behavioral</option>
        <option value="Providence Health Plan" >Providence Health Plan</option>
        <option value="Quest Behavioral Health" >Quest Behavioral Health</option>
        <option value="Regence BCBS of Utah" >Regence BCBS of Utah</option>
        <option value="Regence Blue Shield Idaho" >Regence Blue Shield Idaho</option>
        <option value="Regence Group Administrators" >Regence Group Administrators</option>
        <option value="Regence Washington" >Regence Washington</option>
        <option value="Samaritan" >Samaritan</option>
        <option value="Sanford Health Plan" >Sanford Health Plan</option>
        <option value="Select Health" >Select Health</option>
        <option value="Shasta Administrative Systems" >Shasta Administrative Systems</option>
        <option value="Sierra Health and Life" >Sierra Health and Life</option>
        <option value="Southwest Services Administrators" >Southwest Services Administrators</option>
        <option value="Student Insurance - Boston Mutual Life Insurance Company" >Student Insurance - Boston Mutual Life Insurance Company</option>
        <option value="TCC" >TCC</option>
        <option value="TUFTS" >TUFTS</option>
        <option value="Tall Tree" >Tall Tree</option>
        <option value="The Alliance" >The Alliance</option>
        <option value="The Care Network/The Savannah Business Group" >The Care Network/The Savannah Business Group</option>
        <option value="Tricare" >Tricare</option>
        <option value="Tricare East" >Tricare East</option>
        <option value="Tricare West" >Tricare West</option>
        <option value="Trustmark Health Benefits" >Trustmark Health Benefits</option>
        <option value="UMR" >UMR</option>
        <option value="UNI (University of Utah)" >UNI (University of Utah)</option>
        <option value="UNITED HEALTHCARE SHARE" >UNITED HEALTHCARE SHARE</option>
        <option value="UPMC Health Plan" >UPMC Health Plan</option>
        <option value="US Family Health" >US Family Health</option>
        <option value="UUHP" >UUHP</option>
        <option value="Union Pacific Railroad Employees Health Syste" >Union Pacific Railroad Employees Health Syste</option>
        <option value="United Behavioral Health" >United Behavioral Health</option>
        <option value="United Healthcare" >United Healthcare</option>
        <option value="United Healthcare Shared Services" >United Healthcare Shared Services</option>
        <option value="United Student Resources" >United Student Resources</option>
        <option value="Univera PPO" >Univera PPO</option>
        <option value="Value Options (Beacon)" >Value Options (Beacon)</option>
        <option value="WEA Insurance Group" >WEA Insurance Group</option>
        <option value="WEA Trust" >WEA Trust</option>
        <option value="WELL SENSE" >WELL SENSE</option>
        <option value="Web TPA" >Web TPA</option>
        <option value="Western Growers" >Western Growers</option>
        <option value="Western Growers Insurance Company" >Western Growers Insurance Company</option>
        </select>
    </div>

    <div class="form-group">
        <label for="in_network">In Network?</label>
        <select id="in_network" class="form-control" bind:value={inNetworkValue}>
            <option value="In">Yes</option>
            <option value="Out" selected>No</option>
        </select>
    </div>
</div>

<style>
    .billing-options-wrapper {
        padding: 10px 20px 20px 10px;
        width: 25vw;
        border: 1px solid #dfdfdf;
        border-radius: 5px;
    }
    .form-group label {
        font-size: 1.1em;
        color: #212529;
    }

    .form-control {
        font-family: inherit;
        font-size: inherit;
        border-width: 0;
        width: 100%;
        background: transparent;
        border: 1px solid #dfdfdf;
        border-radius: 5px;
        padding: 8px;
        margin: 5px 0 5px 5px;
        color: #495057;
    }

    .form-control:focus {
        box-shadow: 0px 0px 8px 3px #bfdeff;
        border-color: #80bdff;
        outline: none;
    }
</style>
