<script lang="ts">
  import DealershipsList from "./DealershipsList.svelte";
  import { GroupContactType, DealerContactType } from "$lib/stores/dealerships";
  import type { Group } from "$lib/data/group";

  export let groupInfo: Group;

</script>

<div class="container container-padding border rounded">
  <div class="row justify-content-between">
    <div class="col-2">Show Group</div>
  </div>

  <div class="row row-margin-top">
    <div class="col container-padding border">
      <div class="row bold">Group Name</div>
      <div class="row">{groupInfo.groupName}</div>
    </div>
  </div>
  <div class="row row-margin-sides">
    <div class="col container-padding border">
      <div class="row bold">Address 1</div>
      <div class="row">{groupInfo.groupAddress1}</div>
    </div>
    <div class="col container-padding border">
      <div class="row bold">Address 2</div>
      <div class="row">
        {groupInfo.groupAddress2}
      </div>
    </div>
  </div>
  <div class="row row-margin-bottom">
    <div class="col container-padding border">
      <div class="row bold">City</div>
      <div class="row">{groupInfo.groupCity}</div>
    </div>
    <div class="col container-padding border">
      <div class="row bold">State</div>
      <div class="row">
        {groupInfo.groupState}
      </div>
    </div>
    <div class="col container-padding border">
      <div class="row bold">Zip Code</div>
      <div class="row">{groupInfo.groupZip}</div>
    </div>
  </div>
  {#each groupInfo.groupContacts as groupContact }
  <div class="row">
    <div class="col-3">{groupContact.type}</div>
  </div>
  <div class="row row-margin-bottom">
    <div class="col container-padding border">
      <div class="row bold">Name</div>
      <div class="row">{groupContact.name}</div>
    </div>
    <div class="col container-padding border">
      <div class="row bold">Phone</div>
      <div class="row">
        {groupContact.phone}
      </div>
    </div>
    <div class="col container-padding border">
      <div class="row bold">Email</div>
      <div class="row">{groupContact.email}</div>
    </div>
    <div class="col container-padding border">
      <div class="row bold">Primary Contact</div>
      <div class="row">{groupContact.primaryContact}</div>
    </div>
  </div>
  {/each}
</div>

{#each groupInfo.dealerships as dealer}
  <div class="container container-padding border rounded">
    <div class="row justify-content-between">
      <div class="col-3">Dealership</div>
    </div>

    <div class="row row-margin-top">
      <div class="col container-padding border">
        <div class="row bold">Dealership Name</div>
        <div class="row">{dealer.dealershipName}</div>
      </div>
    </div>
    <div class="row row-margin-sides">
      <div class="col container-padding border">
        <div class="row bold">Address 1</div>
        <div class="row">{dealer.dealershipAddress1}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Address 2</div>
        <div class="row">
          {dealer.dealershipAddress2}
        </div>
      </div>
    </div>
    <div class="row row-margin-bottom">
      <div class="col container-padding border">
        <div class="row bold">City</div>
        <div class="row">{dealer.dealershipCity}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">State</div>
        <div class="row">
          {dealer.dealershipState}
        </div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Zip Code</div>
        <div class="row">{dealer.dealershipZip}</div>
      </div>
    </div>
    {#each dealer.dealershipContacts as dealerContact }
    <div class="row">
      <div class="col-3">{dealerContact.type}</div>
    </div>
    <div class="row row-margin-bottom">
      <div class="col container-padding border">
        <div class="row bold">Name</div>
        <div class="row">{dealerContact.name}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Phone</div>
        <div class="row">
          {dealerContact.phone}
        </div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Email</div>
        <div class="row">{dealerContact.email}</div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Primary Contact</div>
        <div class="row">{dealerContact.primaryContact}</div>
      </div>
    </div>
    {/each}
  </div>
{/each}

<style>
  .container-padding {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .row-margin-top {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .row-margin-bottom {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .row-margin-sides {
    margin-left: 1em;
    margin-right: 1em;
  }

  .bold {
    font-weight: bold;
  }
</style>
