<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import type { Contact } from "$lib/data/contact";
  import type { Dealership, Group } from "$lib/data/group";
  import { GroupContactType, DealerContactType } from "$lib/stores/dealerships";

  const dispatch = createEventDispatcher();

  export let groupInfo: Group;

  export let newOrEdit: string;


  function checkNew() {
    if (newOrEdit === "new") {
      return true;
    }
    return false;
  }

  function saveGroupInfo() {
    dispatch("saveGroup");
  }

  function addContact(type: any, dealershipId = 0) {
    let newContact: Contact = {
      phone: "",
      name: "",
      email: "",
      type: "",
      primaryContact: false,
    };

    if (type === "group") {
      groupInfo.groupContacts.push(newContact);
    } else if (type === "dealership") {
      let thisDealership = groupInfo.dealerships
        .find((dealership: Dealership) => dealership.dealershipId === dealershipId);

        if (thisDealership) thisDealership.dealershipContacts.push(newContact);
    }
    groupInfo = groupInfo;
  }

  function addDealer() {
    let largestId: any = 0;

    if (groupInfo.dealerships.length > 0) {
      let newestDealership = groupInfo.dealerships.reduce((p: Dealership, c: Dealership) =>
        p.dealershipId > c.dealershipId ? p : c
      );
      largestId = newestDealership.dealershipId + 1;
    }

    let newDealer: Dealership = {
      dealershipId: largestId,
      dealershipName: "",
      dealershipAddress1: "",
      dealershipAddress2: "",
      dealershipCity: "",
      dealershipState: "",
      dealershipZip: "",
      dealershipContacts: [],
    };
    groupInfo.dealerships.push(newDealer);
    groupInfo = groupInfo;
  }
</script>

<div class="container container-padding border rounded">
  <div class="row justify-content-between">
    {#if checkNew()}
      <div class="col-2">New Group</div>
    {:else}
      <div class="col-2">Edit Group</div>
    {/if}
    <div class="col-2">
      <button class="btn-primary" on:click={saveGroupInfo}>Save</button>
    </div>
  </div>

  <div class="row row-margin-top">
    <div class="col container-padding border">
      <div class="row bold">Group Name</div>
      <div class="row"><input bind:value={groupInfo.groupName} /></div>
    </div>
  </div>
  <div class="row row-margin-sides">
    <div class="col container-padding border">
      <div class="row bold">Address 1</div>
      <div class="row"><input bind:value={groupInfo.groupAddress1} /></div>
    </div>
    <div class="col container-padding border">
      <div class="row bold">Address 2</div>
      <div class="row">
        <input bind:value={groupInfo.groupAddress2} />
      </div>
    </div>
  </div>
  <div class="row row-margin-bottom">
    <div class="col container-padding border">
      <div class="row bold">City</div>
      <div class="row"><input bind:value={groupInfo.groupCity} /></div>
    </div>
    <div class="col container-padding border">
      <div class="row bold">State</div>
      <div class="row">
        <input bind:value={groupInfo.groupState} />
      </div>
    </div>
    <div class="col container-padding border">
      <div class="row bold">Zip Code</div>
      <div class="row"><input bind:value={groupInfo.groupZip} /></div>
    </div>
  </div>
  <div class="container container-padding border rounded">
    <div class="row justify-right">
      <div class="col-2">
        <button class="btn-primary" on:click={() => addContact("group")}
          >Add Group Contact</button
        >
      </div>
    </div>
  </div>
  {#each groupInfo.groupContacts as groupContact}
    <div class="row row-margin-bottom">
      <div class="col container-padding border">
        <div class="row bold">Name</div>
        <div class="row"><input bind:value={groupContact.name} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Phone</div>
        <div class="row">
          <input bind:value={groupContact.phone} />
        </div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Email</div>
        <div class="row"><input bind:value={groupContact.email} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Type</div>
        <div class="row">
          <select bind:value={groupContact.type}>
            {#each GroupContactType as type}
              <option value={type.id}>{type.name}</option>
            {/each}
          </select>
        </div>
      </div>

      <div class="col container-padding border">
        <div class="row bold">Primary Contact</div>
        <div class="row">
          <input type="checkbox" bind:checked={groupContact.primaryContact} />
        </div>
      </div>
    </div>
  {/each}
</div>

<div class="container container-padding border rounded">
  <div class="row justify-right">
    <div class="col-2">
      <button class="btn-primary" on:click={addDealer}>Add Dealership</button>
    </div>
  </div>
</div>

{#each groupInfo.dealerships as dealer}
  <div class="container container-padding border rounded">
    <div class="row justify-content-between">
      <div class="col-3">Dealership</div>
    </div>

    <div class="row row-margin-top">
      <div class="col container-padding border">
        <div class="row bold">Dealership Name</div>
        <div class="row"><input bind:value={dealer.dealershipName} /></div>
      </div>
    </div>
    <div class="row row-margin-sides">
      <div class="col container-padding border">
        <div class="row bold">Address 1</div>
        <div class="row"><input bind:value={dealer.dealershipAddress1} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Address 2</div>
        <div class="row">
          <input bind:value={dealer.dealershipAddress2} />
        </div>
      </div>
    </div>
    <div class="row row-margin-bottom">
      <div class="col container-padding border">
        <div class="row bold">City</div>
        <div class="row"><input bind:value={dealer.dealershipCity} /></div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">State</div>
        <div class="row">
          <input bind:value={dealer.dealershipState} />
        </div>
      </div>
      <div class="col container-padding border">
        <div class="row bold">Zip Code</div>
        <div class="row"><input bind:value={dealer.dealershipZip} /></div>
      </div>
    </div>
    <div class="container container-padding border rounded">
      <div class="row justify-right">
        <div class="col-2">
          <button
            class="btn-primary"
            on:click={() => addContact("dealership", dealer.dealershipId)}
            >Add Dealership Contact</button
          >
        </div>
      </div>
    </div>
    {#each dealer.dealershipContacts as dealerContact}
      <div class="row row-margin-bottom">
        <div class="col container-padding border">
          <div class="row bold">Name</div>
          <div class="row"><input bind:value={dealerContact.name} /></div>
        </div>
        <div class="col container-padding border">
          <div class="row bold">Phone</div>
          <div class="row">
            <input bind:value={dealerContact.phone} />
          </div>
        </div>
        <div class="col container-padding border">
          <div class="row bold">Email</div>
          <div class="row"><input bind:value={dealerContact.email} /></div>
        </div>
        <div class="col container-padding border">
          <div class="row bold">Type</div>
          <div class="row">
            <select bind:value={dealerContact.type}>
              {#each DealerContactType as type}
                <option value={type.id}>{type.name}</option>
              {/each}
            </select>
          </div>
        </div>

        <div class="col container-padding border">
          <div class="row bold">Primary Contact</div>
          <div class="row">
            <input
              type="checkbox"
              bind:checked={dealerContact.primaryContact}
            />
          </div>
        </div>
      </div>
    {/each}
  </div>
{/each}

<style>
  .container-padding {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .row-margin-top {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .row-margin-bottom {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .row-margin-sides {
    margin-left: 1em;
    margin-right: 1em;
  }

  .bold {
    font-weight: bold;
  }
</style>
