<script>
    import { url, email, isAdmin, users } from "$lib/stores/auth";
    import { page } from "$app/stores";
    import { get } from "svelte/store";
    import { goto } from "$app/navigation";
    import { browser } from "$app/environment";
    import { onMount } from "svelte";

    let emailValue = get(email);
    if (emailValue === "" && browser) {
        goto("/login");
    }

    let goLogout = () => { goto("/auth/logout") };

    let goClaims = () => { goto("/claims") }
    let goGroups = () => { goto("/groups") }
    let goUsers = () => { goto("/users") }

    let admin = get(isAdmin);

    let path;
    function getPath(currentPath) {
        path = currentPath.split("/")[1];
    }

    $: getPath($page.url.pathname)
</script>

<header>
    <nav class="header-nav">
        <ul class="nav-list" data-sveltekit-reload>
            <li><a href="https://autogravy.com" target="_blank"><img class="nav-image" src="/images/Auto-Gravy.svg" alt="autogravy logo" width="100px"></a></li>
            {#if admin}
                <li><button class="nav-link" class:active="{path === 'dealerships'}" on:click={goGroups}>Groups</button></li>
                <li><button class="nav-link" class:active="{path === 'claims'}" on:click={goClaims}>Claims</button></li>
                <li><button class="nav-link" class:active="{path === 'users'}" on:click={goUsers}>Users</button></li>
            {/if}
        </ul>
        <ul class="nav-list">
            <li class="nav-email">{emailValue}</li>
            <li><button class="btn-primary" on:click={goLogout}>Logout</button></li>
        </ul>
    </nav>
</header>

<style>
    header {
        background-color: #343a40;
        height: 13%;
    }
    .header-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .nav-list {
        margin: 0;
        padding: 10px;
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .nav-link, .nav-link:hover {
        text-decoration: none;
    }
    .nav-link {
        background: transparent;
        border: 0;
        font-size: 1em;
        color: #8e9295;
        display: inline-block;
        transition: color .5s;
    }
    .nav-link:hover {
        color: #bbbdbf;
        display: inline-block;
        cursor: pointer;
    }
    .active {
        color: #EEE !important;
    }
    .nav-email {
        color: #9a9da0;
        font-size: 1em;
    }
    .nav-image {
        object-fit: cover;
        width: 150px;
        aspect-ratio: auto;
    }
</style>
