<script>
  export let part;
</script>


  <div class="row row-margin-sides">
    <div class="col container-padding border">{part.id}</div>
    <div class="col-2 container-padding border">
      <div class="row"><input bind:value={part.part} /></div>
    </div>
    <div class="col container-padding border">
      <div class="row"><input bind:value={part.part_number} /></div>
    </div>
    <div class="col container-padding border">
      <div class="row"><input bind:value={part.reference} /></div>
    </div>
    <div class="col container-padding border">
      <div class="row"><input bind:value={part.requested_unit_price} /></div>
    </div>
    <div class="col container-padding border">
      <div class="row"><input bind:value={part.requested_quantity} /></div>
    </div>
    <div class="col container-padding border">
      <div class="row"><input bind:value={part.authorized_unit_price} /></div>
    </div>
    <div class="col container-padding border">
      <div class="row"><input bind:value={part.authorized_quantity} /></div>
    </div>
    <div class="col container-padding border">
      <div class="row"><input bind:value={part.authorized_amount} /></div>
    </div>
    <div class="col container-padding border">
      <div class="row"><input type="checkbox" bind:checked={part.covered} /></div>
    </div>
    <div class="col container-padding border">
      <div class="row"><input type="checkbox" bind:checked={part.taxable} /></div>
    </div>
  </div>

<style>
  .row-margin-sides {
    margin-left: 1em;
    margin-right: 1em;
  }

  .container-padding {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
</style>
