<script>
    import { goto } from "$app/navigation";
    import { auth } from "$lib/services/auth";
    import { url, users } from "$lib/stores/auth";
    import { get } from "svelte/store";
    import moment from "moment";
    export let usersRes;

    async function deleteUserClick(auth0ID) {
        let response = confirm("Are you sure?");

        if (response) {
            let deleteUserReq = await fetch(`${get(url)}/users/${auth0ID}`, {
                method: "DELETE"
            });

            let res = await fetch(get(url) + "/users");
            let usersArray = await res.json();

            users.set(JSON.stringify(usersArray));

            auth.deleteUserAuth0(auth0ID);

            goto("/claims").then(() => {
                goto("/users");
            });
        }
    }
</script>

<div class="users-list-wrapper">
    <table class="users-table">
        <thead>
            <th>Email</th>
            <th>Status</th>
            <th>Roles</th>
            <th>Expires at</th>
            <th></th>
        </thead>
        {#if usersRes.length > 0}
            {#each usersRes as user}
            <tr>
                <td><a class="email-link" href="/users/{user.auth0ID}">{user.email}</a></td>
                {#if user.disabled}
                    <td>Disabled</td>
                {:else if user.expires_at && Date.parse(user.expires_at) - Date.parse(new Date()) < 0}
                    <td>Expired</td>
                {:else}
                    <td></td>
                {/if}
                <td>{user.role}</td>
                {#if user.expires_at}
                    <td>{moment.utc(user.expires_at).format("YYYY-MM-DD HH:mm:ss")}</td>
                {:else}
                    <td>Never</td>
                {/if}
                <td class="table-button-wrapper">
                    <button class="btn-primary edit-button" on:click={() => goto(`/users/${user.auth0ID}/edit`)}>Edit</button>
                    <button class="btn-primary delete-button" on:click={deleteUserClick(user.auth0ID)}>Delete</button>
                </td>
            </tr>
            {/each}
        {/if}
    </table>
</div>

<style>
    .users-list-wrapper {
        width: 80vw;
        display: flex;
        justify-content: center;
    }

    .users-table {
        display: table;
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: left;
        width: 100%;
        border-collapse: collapse;
    }

    thead {
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        color: #22262a;
    }

    tr {
        text-align: left;
        border-bottom: 1px solid #dee2e6;
        line-height: 3em;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:last-child {
        border-bottom: none;
    }

    td, th {
        padding: 10px 0 10px 10px;
    }

    .email-link {
        text-decoration: none;
        color: #1a88fe;
    }
    .email-link:hover {
        text-decoration: underline;
    }

    .table-button-wrapper {
        text-align: right;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: auto;
        margin-right: 0;
        width: 150px;
    }
    .edit-button {
        background-color: #6c757d;
        margin-right: 15px;
        width: 50px;
    }
    .edit-button:hover {
        background-color: #5a6268;
    }
    .delete-button {
        background-color: #dc3545;
        width: 70px;
    }
    .delete-button:hover {
        background-color: #c82333;
    }
</style>
