<script lang="ts">
  import { createEventDispatcher } from "svelte";

  export let dealershipListRes: any;
  export let newOrEdit: string;
  export let userInfo: any;

  console.log(dealershipListRes)
  const dispatch = createEventDispatcher();

//   let userInfo = {
//     roleInput: "user",
//     groupInput: "",
//     dealerInput: "",
//     expiresAt: "",
//     password: "",
//     confirmedPassword: "",
//     disabled: false,
//     emailVerified: false
//   };

  let groupList= []

  function isUserGroup(group) {
    return group.id === userInfo.groupInput;
  }

  function thing() {
    console.log(groupList)
    groupList = dealershipListRes.filter(isUserGroup)
    console.log(groupList)
  }

  function checkNew() {
    if (newOrEdit === "new") {
      return true;
    }
    return false;
  }
  function saveUserInfo() {
    dispatch("saveUser");
  }
</script>

<div class="container container-padding border rounded">
  <div class="row justify-content-between">
    {#if checkNew()}
      <div class="col-2">New User</div>
    {:else}
      <div class="col-2">Edit User</div>
    {/if}
    <div class="col-2">
      <button class="btn-primary" on:click={saveUserInfo}>Save</button>
    </div>
  </div>
  <div class="row row-margin-top">
    <div class="col container-padding border">
      <div class="row bold">Email</div>
      <div class="row"><input bind:value={userInfo.email} /></div>
    </div>
  </div>
  <div class="row row-margin-top">
    <div class="col container-padding border">
      <div class="row bold">Disabled</div>
      <div class="row"><input type="checkbox" bind:value={userInfo.disabled} /></div>
    </div>
    <div class="col container-padding border">
        <div class="row bold">Email Verified</div>
        <div class="row"><input type="checkbox" bind:value={userInfo.emailVerified} /></div>
      </div>
  </div>
  <div class="row row-margin-sides">
    <div class="col container-padding border">
      <div class="row bold">Role</div>
      <div class="row">
        <select
          bind:value={userInfo.roleInput}
          class="form-select"
          aria-label="Role Input"
        >
          <option value="admin">admin</option>
          <option value="user" selected>user</option>
        </select>
      </div>
    </div>
  </div>
  {#if userInfo.roleInput === "user"}
    <div class="row row-margin-sides">
      <div class="col container-padding border">
        <div class="row bold">Group</div>
        <div class="row">
          <select
            bind:value={userInfo.groupInput}
            on:change={thing}
            class="form-select"
            aria-label="Group Input"
          >
            {#each dealershipListRes as dealer}
              <option value={dealer.id}>{dealer.groupName}</option>
            {/each}
          </select>
        </div>
      </div>
    </div>
  {/if}
  {#if userInfo.groupInput !== ""}
  <div class="row row-margin-sides">
    <div class="col container-padding border">
      <div class="row bold">Dealerships</div>
      <div class="row">
        <select
          bind:value={userInfo.dealerInput}
          class="form-select"
          aria-label="Dealer Input"
        >
          {#each groupList as group}
            {#each group.dealerships as dealership}
            <option value={dealership.dealershipId}>{dealership.dealershipName}</option>
            {/each}
          {/each}
        </select>
      </div>
    </div>
  </div>
  {/if}
  <div class="row row-margin-sides">
    <div class="col container-padding border">
        <div class="row bold">Expires At</div>
        <div class="row"><input type="date" bind:value={userInfo.expiresAt} /></div>
    </div>
  </div>
  <div class="row row-margin-bottom">
    <div class="col container-padding border">
        <div class="row bold">New Password</div>
        <div class="row"><input type="password" bind:value={userInfo.password} /></div>
    </div>
    <div class="col container-padding border">
        <div class="row bold">Confirm Password</div>
        <div class="row"><input type="password" bind:value={userInfo.confirmedPassword} /></div>
    </div>
  </div>
</div>

<style>
  .container-padding {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .row-margin-top {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .row-margin-bottom {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .row-margin-sides {
    margin-left: 1em;
    margin-right: 1em;
  }

  .bold {
    font-weight: bold;
  }
</style>
